@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3/SourceSans3-Regular.otf.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3/SourceSans3-Medium.otf.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3/SourceSans3-Semibold.otf.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
